body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    align-items: center;
}
header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

#hero {
    display: flex;
    flex-direction: row;
}

.hero-left {
    display: flex;
    flex-direction: column;
}
#hero-img {
    width: 400px;
    height:auto;
}

#row-of-boxes {
    display: flex;
    flex-direction: row;
}
.content {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding-left: 0;
}
ul {
    display: flex;
    align-items: center;
    gap: 10px;
}


