

/* header and footer */
header, footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    align-items: center;
}
header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}


li {
    list-style-type: none;
    padding-left: 0;
}
ul {
    display: flex;
    align-items: center;
    gap: 10px;
}



/* general content */

#boxes, body, .content, .hero-left, .box-and-text {
    display: flex;
    flex-direction: column;
}
 #row-of-boxes, #call-to-action, #hero {
    display: flex;
    flex-direction: row;
}

/* hero section */
#hero-img {
    width: 400px;
    height: auto;
}
#hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

/*thumbnails section */

#boxes {
    align-items: center;
}
.thumbnail {
    width: 100px;
    border-radius: 5px;
}
#row-of-boxes {
    gap: 20px;
}

/* quotes section*/
#quotes {
    background-color: #E5E7EB;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
}


/* CTA secton */
#call-to-action {
    background-color: #3882F6;
}
